/*ESTILOS PARA CAMPUS VIRTUAL*/

@font-face {
  font-family: 'PromptMedium';
  src: url("../fonts/Prompt Medium.ttf");
}

.text-align-center
{
  text-align: center !important;
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{
	width:530px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}

#action-btn{
  background-color: rgb(45, 45, 201);
  color: white;
  border: none;
  border-radius: 30px 30px;
}

#email{
  border-radius: 30px 30px;
  background-color: rgb(245, 244, 244);
}

#password{
  border-radius: 30px 30px;
  background-color: rgb(245, 244, 244);
}

#name{
  border-radius: 30px 30px;
  background-color: rgb(245, 244, 244);
}

#birthdate{
  border-radius: 30px 30px;
  background-color: rgb(245, 244, 244);
}

.box{
	border: navajowhite;
    box-shadow: 1px 1px 4px 1px lightgrey;
}

.input-field{
	border-radius: 30px 30px;
	background-color: rgb(245, 244, 244);
}
.text-decoration-none{
  text-decoration: none;
}

.right{
  right: 0;
}

.btn-rounded{
  border-radius: 60px;
  border:none;
}

.bg-gray{
  background-color: #D1D4DB;
}

.bg-blue{
  background-color: #1E6AAC;
}

.bg-darkblue{
  background-color: #181845;
}

.txt-darkblue{
  color: #181845;
}

.txt-blue{
  color: #1E6AAC;
}

.txt-white{
  color:#fff;
  font-size: 4em;
  text-align: center;
  float: left;
  margin-left:17%;
}

.txt-white-btn{
    color:#fff;
}

.roundIcon{
    width: 115px;
    height: 115px;
   padding: 10px;
   background-color: #1E6AAC;
   border: 2px solid #1E6AAC;
   border-radius: 60px;
   -moz-border-radius: 15px;
   text-align: center;
}

.roundIconIntern{
    width: 60px;
    height: 60px;
   padding: 10px;
   background-color: #1E6AAC;
   border: 2px solid #1E6AAC;
   border-radius: 60px;
   -moz-border-radius: 15px;
   text-align: center;
}


.dark-blue-bg{
  background-color: #181845;
}

.tituloFerias{
  color: #1E6AAC;

/* UI Properties */
text-align: left;
letter-spacing: 0px;
color: #1E6AAC;
opacity: 1;
}


.inputSearch{
  background-color: #D1D4DB !important;
  border-radius: 29px;
  color:#1E6AAC !important;
  outline: none;
}


.inputSearch:focus{
    outline: none;
    border-color: transparent;
}

.inputSearch::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1E6AAC;

}

.inputSearch:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #1E6AAC;
}

.inputSearch::-ms-input-placeholder { /* Microsoft Edge */
  color: #1E6AAC;
}


.blue-text-login{
  color: #1E6AAC !important;
  text-decoration: none !important;
}

.blue-button-login{
  background-color: #1E6AAC !important;
}

.text-color-recovery{
  color: #212357 !important;
}

.background-button-recovery{
  background-color: #212357 !important;
}

.hr-login{
  color: lightgray !important;
}

.background-profile{
  background-color: #1E6AAC;
  padding: 2%;
}

.letter-profile-user{
  background-color: #212357;
  width: 4em;
  padding: 3%;
  font-size: 5em;
}

.radius-letter{
  border-radius: 100%;
}

.new-profile-text{
    background-color: #D1D4DB;
    padding: 3%;
    border-radius: 50px;
}

.decoration-none{
  text-decoration: none !important;
  cursor: pointer;
}

.hideDesc{
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}
